src/hangman/HangmanGame.Client/Connected Services/UserServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64696/Services/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.Domain" />
  <xs:complexType name="LoadProfileRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadProfileRequestDto" nillable="true" type="tns:LoadProfileRequestDto" />
  <xs:complexType name="ProfileResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GamesPlayed" type="xs:int" />
      <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WinRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileResponseDto" nillable="true" type="tns:ProfileResponseDto" />
  <xs:complexType name="UserCardRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequesterId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCardRequestDto" nillable="true" type="tns:UserCardRequestDto" />
  <xs:complexType name="UserCardResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.Domain" minOccurs="0" name="Users" nillable="true" type="q1:ArrayOfUserCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCardResponseDto" nillable="true" type="tns:UserCardResponseDto" />
</xs:schema>