src/hangman/HangmanGame.Client/Connected Services/UserServiceReference/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserCard" nillable="true" type="tns:UserCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserCard" nillable="true" type="tns:ArrayOfUserCard" />
  <xs:complexType name="UserCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalScore" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WinRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCard" nillable="true" type="tns:UserCard" />
</xs:schema>