src/hangman/HangmanGame.Client/Connected Services/MatchServiceReference/MatchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64696/Services/MatchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64696/Services/MatchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64696/Services/MatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.DTOs" />
      <xsd:import schemaLocation="http://localhost:64696/Services/MatchService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HangmanGame.Core.Core.Interfaces.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchService_GetAvailableMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMatches" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetAvailableMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchById" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_JoinMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_JoinMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_StartMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_StartMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_UpdateMatchWord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMatchWord" />
  </wsdl:message>
  <wsdl:message name="IMatchService_UpdateMatchWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMatchWordResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_CancelMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchService_CancelMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetLiveGameLoopState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLiveGameLoopState" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetLiveGameLoopState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLiveGameLoopStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_SubmitGuesserLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitGuesserLetter" />
  </wsdl:message>
  <wsdl:message name="IMatchService_SubmitGuesserLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitGuesserLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_SubmitHostValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitHostValidation" />
  </wsdl:message>
  <wsdl:message name="IMatchService_SubmitHostValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitHostValidationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatchService">
    <wsdl:operation name="GetAvailableMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetAvailableMatches" message="tns:IMatchService_GetAvailableMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetAvailableMatchesResponse" message="tns:IMatchService_GetAvailableMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetMatchById" message="tns:IMatchService_GetMatchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetMatchByIdResponse" message="tns:IMatchService_GetMatchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/CreateMatch" message="tns:IMatchService_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/CreateMatchResponse" message="tns:IMatchService_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/JoinMatch" message="tns:IMatchService_JoinMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/JoinMatchResponse" message="tns:IMatchService_JoinMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/StartMatch" message="tns:IMatchService_StartMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/StartMatchResponse" message="tns:IMatchService_StartMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMatchWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/UpdateMatchWord" message="tns:IMatchService_UpdateMatchWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/UpdateMatchWordResponse" message="tns:IMatchService_UpdateMatchWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/CancelMatch" message="tns:IMatchService_CancelMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/CancelMatchResponse" message="tns:IMatchService_CancelMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLiveGameLoopState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetLiveGameLoopState" message="tns:IMatchService_GetLiveGameLoopState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetLiveGameLoopStateResponse" message="tns:IMatchService_GetLiveGameLoopState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitGuesserLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/SubmitGuesserLetter" message="tns:IMatchService_SubmitGuesserLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/SubmitGuesserLetterResponse" message="tns:IMatchService_SubmitGuesserLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitHostValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/SubmitHostValidation" message="tns:IMatchService_SubmitHostValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/SubmitHostValidationResponse" message="tns:IMatchService_SubmitHostValidation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatchService" type="tns:IMatchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableMatches">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetAvailableMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchById">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetMatchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchService/CreateMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchService/JoinMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchService/StartMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMatchWord">
      <soap:operation soapAction="http://tempuri.org/IMatchService/UpdateMatchWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchService/CancelMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveGameLoopState">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetLiveGameLoopState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGuesserLetter">
      <soap:operation soapAction="http://tempuri.org/IMatchService/SubmitGuesserLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitHostValidation">
      <soap:operation soapAction="http://tempuri.org/IMatchService/SubmitHostValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchService">
    <wsdl:port name="BasicHttpBinding_IMatchService" binding="tns:BasicHttpBinding_IMatchService">
      <soap:address location="http://localhost:64696/Services/MatchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>